<nav id="sidebar" class="bg-light p-2">
    <div class="sidebar-header text-dark">
        <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components text-dark">
        <li>
            cat-1
        </li>
        <li>
            cat-1
        </li>
        <li>
            cat-1
        </li>
        <li>
            cat-1
        </li>
        <li>
            cat-1
        </li>
        <li>
            cat-1
        </li>
        <li>
            cat-1
        </li>
        <li>
            cat-1
        </li>
        <li>
            cat-1
        </li>

    </ul>

</nav>